Load mart_train_sample.xlsx file DataSet

In [134]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statistics as sts

df = pd.read_excel('D:\DKTE - DAYWISE\DAY 9\mart_train_sample.xlsx')

,Item_ID,Item_W,Item_Type,Item_MRP,Outlet_ID,Outlet_Year,Outlet_Size,Outlet_Location_Type,Sales,Tier
0,FDN27,9.437510,Snack Foods,195.313244,OUT046,1997,Small,Tier 1,897.085562,1
1,FDW35,9.033762,Fruits and Vegetables,36.371449,OUT035,2003,Small,Tier 2,1639.303513,2
2,FDS28,20.884849,Frozen Foods,70.318167,OUT013,2008,Small,Tier 1,2664.773737,1
3,FDC09,19.976300,Snack Foods,121.723264,OUT018,2009,Medium,Tier 3,440.859593,3
4,FDX04,10.824812,Snack Foods,264.673302,OUT035,2004,Small,Tier 1,29.807098,1

Creat a basic line plot and try different estimator
height = [5, 6, 7, 6.5,4]
age    = [22,25,30,25,25]

Create LinePlot Using Outlet_Year & Sales Columns with ci & estimator values as None

Test with different Confidence Intervals and with different number of Bootstraping

Grouping using HUE - Outlet_Size and use different Palettes*

Grouping using Size

Use different semantic styling parameters on same or different variables